@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


  
* {
    margin: 0;
    padding: 0;
}

body {

}

/* Hero section style start */

.home-page {
    /* background-color: black; */
    background: url(/imgs/Group\ 1.jpg)no-repeat center center/cover;
    height: 100vh;
}

.book_btn_cover button {
    background-color: #A41928;
    border: 1px solid #A41928;
    border-radius: 50px;
    color: #fff;
}

.book_btn_cover button:hover {
    background-color: #fff;
    border: 2px solid #A41928;
    border-radius: 50px;
    color: #A41928;
}

.hero_content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: unset;
    /* align-content: flex-end; */
    align-items: flex-end;
    color: #fff;
    margin-top: 18%;
}

.hero_content h6 {
    font-family: Inter "Poppins";
    font-weight: 700;
    font-size: 18px;
    background-color: #A41928;
    border-radius: 5px;
    padding: 5px;
    transform: translate(-140px, 0px);
}

.hero_content h1 {
    font-family: Inter "Poppins";
    font-weight: 700;
    font-size: 50px;
}

.hero_content h1 span {
    color: #A41928;
}

/* .call_button {
    border: 1px solid #A41928;
    background: #A41928;

} */

.contact_info_hero .hero_contact_btn {
    margin-right: 5px;
}

.contact_info_hero .hero_contact_btn,
.hero_email_btn {

    text-decoration: none;
    border: 1px solid #A41928;
    background-color: #A41928;
    ;
    color: #fff;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;

}

.contact_info_hero .hero_email_btn {
    border: 1px solid #A41928;
    background-color: #fff;
    ;
    color: #A41928;

}

.contact_info_hero .hero_contact_btn:hover {
    border: 1px solid #A41928;
    background-color: #fff;
    ;
    color: #A41928;
    text-decoration: none;
    
}

.contact_info_hero .hero_email_btn:hover {
    border: 1px solid #A41928;
    background-color: #A41928;
    ;
    color: #fff;
    
}

/* Hero section style end */


/* form style section start  */

.section_about {
    background: linear-gradient(176.39deg, #1E1E1E 6.22%, #222728 35.48%, #252F31 99.85%);

}

.appiontment {
    justify-content: center;
    transform: translate(10px, -155px);
}


.call_form .form_content {
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    padding: 2px 5px;
    color: #fff;
    padding: 30px 35px;
}

.call_form input {
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    padding: 5px 65px 5px 5px;
    color: #fff;
    margin: 3% 5px;
    font-size: 14px;
}

.call_form button {
    border: 1px solid #A41928;
    border-radius: 3px;
    padding: 7px 40px;
    margin: 0 0 2px 5px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
}

.call_form button:hover {
    border: 1px solid #fff;
    background-color: #A41928;
    padding: 7px 40px;
    color: #fff;
    font-size: 14px;
}
/* form style section end  */

/* about style section start  */
.about_us {
    background: linear-gradient(176.39deg, #1E1E1E 6.22%, #222728 35.48%, #252F31 99.85%);
}

.appiontment {
    justify-content: center;
    transform: translate(10px, -155px);
}


.call_form .form_content {
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    padding: 2px 5px;
    color: #fff;
    padding: 30px 35px;
}

.call_form input {
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    padding: 5px 65px 5px 5px;
    color: #fff;
    margin: 3% 5px;
    font-size: 14px;
}

.call_form button {
    border: 1px solid #A41928;
    border-radius: 3px;
    padding: 7px 40px;
    margin: 0 0 2px 5px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
}

.call_form button:hover {
    border: 1px solid #fff;
    background-color: #A41928;
    padding: 7px 40px;
    color: #fff;
    font-size: 14px;
}
/* form style section end  */

/* about style section start  */
.about_content{
    margin-left: 5%;
}
.about_content_2{
    margin-left: -5%;
}

.about_content h1 {
    color: #fff;
    font-size: 50px;
    font-family: "Marcellus SC", "Poppins";
    font-weight: 400;
}
.about_content span{
    color: #A41928 ;
    font-size: 50px;
    font-family: "Marcellus SC", "Poppins";
    font-weight: 400;
}

.about_content h4 {
    color: #fff ;
    font-size: 28px;
    font-family: "Marcellus SC",
    "Poppins";
    font-weight: 400;
    margin: 2% 0;
}
.about_content h4 .clr_change{
    color: #A41928 ;
    font-size: 28px;
    font-family: "Marcellus SC";
    font-weight: 400;
}
.about_content p{
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
    color: #fff;
    margin: 3% 5%;
    width: 70%;
}
.about_content h2{
    color: #A41928;
    margin-left: 5%;
}

/* about style section end  */