*{
    margin: 0;
    padding: 0;
}
body{
    
}
.home-page{
    /* background-color: black; */
    background: url(/imgs/Group\ 1.jpg)no-repeat center center/cover;
    height: 100vh;
}

.book_btn_cover button{
 background-color: #A41928;
 border: 1px solid #A41928;
 border-radius: 50px;
 color: #fff;
}
.book_btn_cover button:hover{
 background-color: #fff;
 border: 2px solid #A41928;
 border-radius: 50px;
 color:#A41928;
}

.hero_content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: unset;
    /* align-content: flex-end; */
    align-items: flex-end;
    color: #fff;
    margin-top: 18%;
}
.hero_content h6{
    font-family: Inter "Poppins";
    font-weight: 700;
    font-size: 18px;
    background-color: #A41928;
    border-radius: 5px;
    padding: 5px;
    transform: translate(-140px, 0px);
}
.hero_content h1{
    font-family: Inter "Poppins";
    font-weight: 700;
    font-size: 50px;
}
.hero_content h1 span{
    color: #A41928;
}
/* .call_button {
    border: 1px solid #A41928;
    background: #A41928;

} */

.contact_info_hero .hero_contact_btn{
    margin-right: 5px;
}
.contact_info_hero .hero_contact_btn, .hero_email_btn {

    text-decoration: none;
    border: 1px solid #A41928;
    background-color:  #A41928;;
    color: #fff;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;

}
.contact_info_hero .hero_email_btn {
    border: 1px solid #A41928;
    background-color:  #fff;;
    color: #A41928;  
   
}
.contact_info_hero .hero_contact_btn:hover {
    border: 1px solid #A41928;
    background-color:  #fff;;
    color: #A41928;  
    text-decoration: none;
   
}
.contact_info_hero .hero_email_btn:hover {
    border: 1px solid #A41928;
    background-color:  #A41928;;
    color: #fff;  
   
}

